:root {
  --background-color-light: #e5e5e5;
  --background-color-lightsecond: #f5f4fa;
  --background-color-dark: #2f303a;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --foot-address-color: rgba(255, 255, 255, 0.6);
}

.list {
  list-style: none;
}
.page {
  background-color: var(--background-color-light);
  color: var(--primary-text-color);
}
/* Шапка сайта Header */

.logo {
  color: var(--accent-color);
  text-decoration: none;
}
.accent-dark {
  color: var(--title-text-color);
}
.accent-white {
  color: var(--primary-white-color);
}
.nav.link {
  color: var(--title-text-color);
}
.nav.link.current {
  color: var(--accent-color);
}
.accent.link {
  color: var(--primary-text-color);
}

/* Секция Герой Hero */

.hero-title {
  color: var(--primary-white-color);
}
.slider-btn {
  color: var(--primary-white-color);
  background-color: #2196f3;
}
.slider-btn:hover,
.slider-btn:focus {
  color: var(--title-text-color);
}

/* Секция Особенности компании About */
.section-title,
.title {
  color: var(--title-text-color);
}
.uppertitle {
  color: var(--primary-text-color);
}

/* Секция чем мы занимаемся Gallery */

/* Наша команда Team */

.team-position {
  color: var(--primary-text-color);
}

/* Подвал сайта Footer */

.link.accent-gray {
  color: var(--foot-address-color);
}

/* Portfolio */
/* Секция Фильтры Filters */

.filters-btn {
  color: var(--title-text-color);
  background-color: var(--background-color-lightsecond);
}
.filters-btn:hover,
.filters-btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}
.link {
  text-decoration: none;
}
